---
import FormattedDate from "@/components/FormattedDate.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  isFirst?: boolean;
  post: CollectionEntry<"blog">;
};
const { post } = Astro.props;
---

<div
  class:list={[
    "grid grid-rows-subgrid row-span-4",
    "bg-gray-50 hover:bg-gray-100",
    "jusitfy-center",
    "items-center",
    "shadow shadow-gray-400",
    "p-3 md:p-4",
    "rounded-2xl",
    "w-full max-w-full",
    "h-full max-h-48",
    "hover:shadow-lg transition-all",
  ]}
>
  <a
    class="relative grid-cols-[repeat(2,_minmax(auto,_max-content))] grid-rows-subgrid grid row-span-4 items-center w-full h-full max-w-full max-h-full gap-x-4"
    href={`/blog/${post.slug}/`}
  >
    <article
      class="relative grid grid-rows-subgrid row-span-4 self-start h-auto max-w-full max-h-full"
    >
      <div class="flex flex-row gap-x-4 items-start">
        {
          post.data.preview && (
            <Image
              src={post.data.preview}
              width={192}
              height={192}
              class="w-[64px] h-[64px]  border rounded-lg aspect-square object-contain bg-white"
              loading={"lazy"}
              alt={`${post.slug} preview`}
            />
          )
        }
        <h4 class="font-bold text-gray-800 text-pretty pt-2">
          {post.data.title}
        </h4>
      </div>
      <FormattedDate date={post.data.date} />
      <p class="text-sm text-gray-700 md:text-base line-clamp-2">
        {post.data.description}
      </p>
      <ul class="flex flex-row flex-wrap mt-2 text-xs gap-x-1 gap-y-1">
        {
          post.data.tags &&
            post.data.tags
              .slice(0, 3)
              .map((tag) => (
                <li class="px-2 py-1 rounded-full text-gray-100 bg-gray-600">
                  {tag}
                </li>
              ))
        }
      </ul>
    </article>
  </a>
</div>
