---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE } from "../../consts";

const title = `Blogs | ${SITE_TITLE}`;

const posts = (await getCollection("blog"))
  .filter((blog) => !blog.data.draft)
  .sort((a, b) => b.data?.date.valueOf() - a.data?.date.valueOf());
---

<BaseLayout
  title={title}
  description="Some random things i've learned and want to share"
  transition:persist
>
  <ViewTransitions slot="head" />
  <main class="container max-w-4xl mx-auto mt-4">
    <section>
      <ul class="grid grid-flow-row grid-cols-12 gap-4">
        {
          posts.map((post, index) => (
            <li
              class:list={[
                "bg-stone-100",
                "jusitfy-center",
                "items-center",
                "p-4",
                "rounded-2xl",
                { "col-span-12": index === 0 },
                { "col-span-12 md:col-span-6": index !== 0 },
              ]}
            >
              <a class="flex flex-col gap-4" href={`/blog/${post.slug}/`}>
                {post.data.preview ? (
                  <Image
                    class="rounded-xl"
                    transition:name={`preview-${post.slug}`}
                    width={896}
                    height={360}
                    src={post.data.preview}
                    alt=""
                  />
                ) : null}
                <h4 class="text-2xl font-bold text-stone-800">
                  {post.data.title}
                </h4>
                <p class="text-stone-700">{post.data.description}</p>
                <ul class="flex flex-row gap-2 flex-wrap">
                  {post.data.tags &&
                    post.data.tags.map((tag) => (
                      <li class="px-4 py-1 text-sm rounded-full text-stone-100 bg-stone-600">
                        {tag}
                      </li>
                    ))}
                </ul>
                <FormattedDate date={post.data.date} />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
