---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

type Props = {
  title: string;
  content: any;
  thumbnail: ImageMetadata;
  url?: string;
};

const { title, content, thumbnail, url } = Astro.props;
---

<h3 class="mb-4 text-lg font-bold">
  <a href={url} class="underline">{title}</a>
</h3>
<Image
  src={thumbnail}
  alt={title}
  class="h-64 w-full rounded-lg object-cover object-top shadow"
/>
<p class="mt-2 whitespace-pre-line text-gray-500">{content}</p>
