---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts
    .filter((post) => !post.data.draft)
    .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
    .map((post, index, postList) => {
      return {
        params: { slug: post.slug },
        props: {
          post,
          next: postList[index + 1] ?? null,
          prev: postList[index - 1] ?? null,
        },
      };
    });
}
type Props = {
  post: CollectionEntry<"blog">;
  next: CollectionEntry<"blog"> | null;
  prev: CollectionEntry<"blog"> | null;
};

const { post, next, prev } = Astro.props;
const { tags } = post.data;
const { Content } = await post.render();
---

<BlogPost {...post.data} id={post.id} slug={post.slug}>
  <Content />
  {
    tags && (
      <ul class="mt-4 flex list-none flex-row flex-wrap gap-x-2 gap-y-1 p-0">
        {tags.map((tag) => (
          <li class="p-0">
            <a
              href={`/tags/${tag}`}
              class="tag-link inline-flex rounded-full bg-gray-600 px-3 py-1 text-gray-100 transition-colors hover:bg-gray-700"
              data-tag={tag}
            >
              #{tag}
            </a>
          </li>
        ))}
      </ul>
    )
  }
  <section class="flex flex-col justify-between gap-4 md:flex-row">
    {
      prev ? (
        <a
          class="rounded bg-gray-600 px-4 py-2 text-sm text-gray-200 shadow-sm"
          href={`/blogs/${prev.slug}`}
        >
          ← {prev.data.title}
        </a>
      ) : (
        <div />
      )
    }
    {
      next ? (
        <a
          class="rounded bg-gray-600 px-4 py-2 text-sm text-gray-200 shadow-sm"
          href={`/blogs/${next.slug}`}
        >
          {next.data.title} →
        </a>
      ) : (
        <div />
      )
    }
  </section>
</BlogPost>

<script>
  function putPageView(page: string) {
    fetch(`/api/pages/${page}/views`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((json) => {
        console.debug("count", json.count);
        console.debug("slug", json.slug);
      });
  }

  const pathname =
    window.location.pathname
      .replace(/^\//, "")
      .replace(/\/$/, "")
      .replace(/\//g, "-") || "home";

  document.body.addEventListener(
    "astro:page-load",
    () => {
      setTimeout(() => {
        putPageView(pathname);
      }, 2000);
    },
    {
      once: true,
    },
  );
</script>
