---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE } from "../consts";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  id?: string;
  slug?: string;
};

const { title, description, date, updatedDate, preview, id, slug, tags } =
  Astro.props;
---

<BaseLayout
  title={`${title} | ${SITE_TITLE}`}
  description={description}
  imageUrl={preview?.src}
>
  <slot name="head" />
  <main class="container mx-auto lg:max-w-5xl">
    <header class="bg-gray-50 p-8">
      {
        preview && (
          <Picture
            class="h-auto w-full"
            loading="eager"
            sizes="(min-width: 1024px)  864px, (min-width: 768px) 648px, 100vw"
            src={preview}
            alt={`${slug} preview`}
            formats={["webp", "jpg"]}
          />
        )
      }
    </header>
    <article class="prose prose-stone max-w-none bg-gray-50 px-8 py-4">
      <h1>{title}</h1>
      <FormattedDate
        class="rounded-full bg-gray-600 px-2 py-1 text-gray-100"
        date={date}
      />
      {
        updatedDate && (
          <span>
            Last updated on <FormattedDate date={updatedDate} />
          </span>
        )
      }
      <slot />
    </article>
  </main>
  <div
    id="giscus"
    class="giscus container mx-auto mt-4 px-2 lg:max-w-5xl lg:px-0"
  >
  </div>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="anwam/anuwong-blog-comments"
    data-repo-id="R_kgDOMsijEw"
    data-category="General"
    data-category-id="DIC_kwDOMsijE84CiL0Y"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light_tritanopia"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</BaseLayout>
