---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import { SITE_TITLE } from "../consts";

type Props = CollectionEntry<"blog">["data"] & {
  id?: string;
  slug?: string;
};

const { title, description, date, updatedDate, preview, id, slug } =
  Astro.props;
---

<BaseLayout
  title={`${title} | ${SITE_TITLE}`}
  description={description}
  imageUrl={preview?.src}
>
  <slot name="head" />
  <main class="container lg:max-w-4xl mx-auto">
    <article
      class="p-4 prose prose-stone max-w-none md:mt-4 bg-stone-100 md:rounded-2xl"
    >
      {
        preview && (
          <Picture
            class="rounded-xl w-auto h-auto mx-auto"
            loading="eager"
            sizes="(min-width: 1024px)  864px, (min-width: 768px) 648px, 100vw"
            src={preview}
            alt={`${slug} preview`}
            formats={["webp", "jpg"]}
          />
        )
      }
      <h1>{title}</h1>
      <FormattedDate
        class="px-2 py-1 rounded-full text-stone-100 bg-stone-600"
        date={date}
      />
      {
        updatedDate && (
          <span>
            Last updated on <FormattedDate date={updatedDate} />
          </span>
        )
      }
      <slot />
    </article>
  </main>
</BaseLayout>
