---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import { SITE_TITLE } from "../consts";

type Props = CollectionEntry<"blog">["data"] & {
  id?: string;
  slug?: string;
};

const { title, description, date, updatedDate, preview, id, slug } =
  Astro.props;
---

<BaseLayout title={`${title} | ${SITE_TITLE}`} description={description}>
  <slot name="head" />
  <main class="container max-w-4xl mx-auto mt-4 bg-stone-100 rounded-2xl">
    <article class="p-4 prose prose-stone max-w-none">
      {
        preview && (
          <Image
            class="rounded-xl"
            transition:name={`preview-${slug}`}
            width={1020}
            height={510}
            src={preview}
            alt=""
          />
        )
      }
      <h1>{title}</h1>
      <FormattedDate
        class="px-2 py-1 rounded-full text-stone-100 bg-stone-600"
        date={date}
      />
      {
        updatedDate && (
          <span>
            Last updated on <FormattedDate date={updatedDate} />
          </span>
        )
      }
      <slot />
    </article>
  </main>
</BaseLayout>
