---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import { Picture } from 'astro:assets'
import BaseLayout from './BaseLayout.astro'
import { SITE_TITLE } from '../consts'

type Props = CollectionEntry<'blog'>['data'] & {
  id?: string
  slug?: string
}

const { title, description, date, updatedDate, preview, id, slug } = Astro.props
---

<BaseLayout
  title={`${title} | ${SITE_TITLE}`}
  description={description}
  imageUrl={preview?.src}
>
  <slot name="head" />
  <main class="container mx-auto lg:max-w-4xl">
    <article
      class="p-4 prose prose-stone max-w-none md:mt-4 bg-gray-100 md:rounded-2xl"
    >
      {
        preview && (
          <Picture
            class="w-auto h-auto mx-auto rounded-lg"
            loading="eager"
            sizes="(min-width: 1024px)  864px, (min-width: 768px) 648px, 100vw"
            src={preview}
            alt={`${slug} preview`}
            formats={["webp", "jpg"]}
          />
        )
      }
      <h1>{title}</h1>
      <FormattedDate
        class="px-2 py-1 rounded-full text-gray-100 bg-gray-600"
        date={date}
      />
      {
        updatedDate && (
          <span>
            Last updated on <FormattedDate date={updatedDate} />
          </span>
        )
      }
      <slot />
    </article>
  </main>
  <div id="giscus" class="giscus mt-4 container mx-auto lg:max-w-4xl px-2 lg:px-0"></div>
  <script is:inline src="https://giscus.app/client.js"
        data-repo="anwam/anuwong-blog-comments"
        data-repo-id="R_kgDOMsijEw"
        data-category="General"
        data-category-id="DIC_kwDOMsijE84CiL0Y"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_tritanopia"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</BaseLayout>
